.CurrentWeatherReport h3 {
  font-family: "Shippori Mincho", serif;
  margin: 30px 50px;
  text-align: left;
}

.CurrentWeatherReport .time {
  text-align: left;
}

.CurrentWeatherReport .date {
  margin-left: 50px;
}
